html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.plastic {
    background-image: url("../../assets/images/plasticCr.jpeg");
    border-radius: 50%;
    display: inline-block;
    height: 15rem;
    width: 15rem;
    margin: 4rem 4rem;
    font-size: 5.3rem;
    text-align: center;
  }
  .metal {
    background-image: url("../../assets/images/metalR.png");
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    height: 15rem;
    width: 15rem;
    margin: 4rem 4rem;
    font-size: 5.3rem;
    text-align: center;
  }
  .paper {
    background-image: url("../../assets/images/paperCr.jpg");
    border-radius: 50%;
    display: inline-block;
    height: 15rem;
    width: 15rem;
    margin: 4rem 4rem;
    font-size: 5.3rem;
    text-align: center;
  }
 .plastic:hover {
     opacity: 0.7;
     cursor: pointer;
 }
 .metal:hover {
    opacity: 0.7;
    cursor: pointer;
}
.paper:hover {
    opacity: 0.7;
    cursor: pointer;
}
.button-spacing {
    margin-right: 2rem;
    margin-top: 1rem;
}
.bg {
    background-image: url("../../assets/images/garbage1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 92rem;
}
#errorMsg {
  color: red;
}
.billBg {
  background-image: url("../../assets/images/bulb3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 35.5rem;
}
.rd3-basic-chart {
  margin-left: -6rem;
  padding-bottom: 3rem;
}
.rd3-chart {
  background-color: #FFFFFF;
}
.rd3-barchart-bar {
  fill: teal;
}
.rd3-chart-title {
  color: whitesmoke;
}
.txtLabel {
  color: whitesmoke;
  font-weight: bold;
  padding-right: 0;
}
.containerClass {
  padding-top: 5rem;
  padding-left: 12rem;
}
.btnPadding {
  margin-left: 1rem;
  margin-top: 3rem;
}
.btnSpace {
  margin-right: 2rem;
}
.gForm {
  margin-left: 10rem;
}
#btnSub {
  margin: 1rem 11rem;
}
.rGroup {
  margin: 1rem 1rem;
}
.weightClass {
  padding-right: 0;
}
.dropStore {
  margin: 1rem 0;
}
.gLabel {
  font-size: 1.1rem;
}