.video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(calc((100% - 100vw) / 2));
}

.videoBack {
    margin-top: -3rem;
    background-image: linear-gradient( #DCDDEF, #ebb8b0 );
}

.videoBack-alert {
    background-image: linear-gradient( #DCDDEF, #ebb8b0 );
}

.product{
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    margin: 0%;
}

#windbg{
    background-color:	#7FFFD4; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right,	#7FFFD4, white);

  }

.rP{
    padding: 0.5rem;
}

.cardBody{
    padding: 0.5rem;
}

.imgTop{
    padding: 0.5rem;
    height: 14vw;
}

.btn-p {
    margin-right: 1rem;
    background-color: grey;
    color: honeydew;
}

.btn-secondary{
    background-color: forestgreen;
}

.card-title{
    text-align: center;
    font-weight: bolder;
    color: green;
    text-shadow: 2px 2px lightgrey;
    font-size: x-large;
}

i{
    margin-right: 0.1rem;
}

b{
    margin-left: 11rem;
}

.btn-bt{
    margin-right: 1rem;
}

hr{
    margin-block-start:0rem;
    margin-block-end:0rem;
    margin-left: 0rem;
    padding: 0rem;
}   

.m{
  margin-left: 0.7rem;
}

.dd{
    margin-left: 1rem;
}

ul{
    margin: 0rem;
    padding: 0.5rem;
}

.buy{
    margin-left: -0.6rem;
}

.head{
    text-align: center;
    margin-top: 1rem;
}

.img{
    height: 10rem;
    width: 16rem;
}

.c{
    border: 0rem;
}

.text{
    text-align: left;
}

.checkoutBtn{
    margin-top: -5rem;
}

.cc{
    padding: 0rem;
}

.imgPTop{
    height: 35rem;
}
.ReviewOrder {
    background-image: linear-gradient( #DCDDEF, #ebb8b0 );
    margin-top: -1rem;
}